GODADDY_API_KEY=put_your_key_here
GODADDY_API_SECRET=put_your_secret_here
GODADDY_DOMAIN=rrotex.com
RESEND_API_KEY=put_resend_email_key_here
EMAIL_FROM=ROTEX <onboarding@resend.dev>
EMAIL_CODE_SECRET=put_random_secret_here
